<h1> Pizza Shop </h1>

<ul class="home">
  <li><a href="/pizza-orders/new">New Order</li>
  <li><a href="/pizza-orders">Check Orders</li>
</ul>

<img src="https://i2-prod.glasgowlive.co.uk/incoming/article11102545.ece/ALTERNATES/s615/Paesano-Pizza.jpg" alt="restaurant" class="center">
