<h1> Order Confirmed </h1>
<h2>
<p>First Name: <%= @order.first_name %></p>
<p>Last Name: <%= @order.last_name %></p>
<p>Topping <%= @order.topping %></p>
<p>Quantity <%= @order.quantity %></p>
<img src="https://www.publicdomainpictures.net/pictures/240000/nahled/pizza-oven.jpg" alt="pizzaoven" class="center">
</h2>
