body {
  background-color: #505567;
  font-family: Courier New;
  font-size: 20px;
}
ul.home {
    margin: 0;
    padding: 0;
    background-color: #3b3f4c;
    text-align: center;
    border: none;
}
li a {
    float: center;
    color: grey;
    text-decoration: none;
}
li a:hover {
    background-color: darkgrey;
  }

h1 {
  text-align: center;
  color: grey;
}

h2{
  font-size: 20px;
  color: grey;
}

h3{
  font-size: 20px;
  text-decoration: none;
  color: darkgrey;
}

ul.new {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #505567;
  color: grey;
  text-align: left;
  border: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
